body {
  font-family: sans-serif;
  margin: 0;
}

.title {
  color: #445162;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 100;
}

.first-floor {
  display: flex;
  width: 100%;
  background-color: #445162;
  height: 200px;
  justify-content: center;
}

.first-floor__tittle {
  padding-left: 40px;
  color: white;
  font-weight: 400;
}

.first-floor__list {
  flex-direction: column;
}

.first-list {
  list-style-type: square;
  padding-left: 60px;
  color: white;
  font-weight: 400;
}

.first-list__whiteboard {
  margin-top: 0;
  margin-bottom: 0;
}

.first-list__whiteboard-image {
  width: 350px;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 420px;
  flex-direction: row;
}

.second-floor {
  display: flex;
  width: 100%;
  background-color: white;
  height: 200px;
  justify-content: center;
}

.second-floor__text {
  flex-direction: column;
}

.second-floor__tittle {
  margin-left: 40px;
  margin-top: 30px;
  color: #445162;
  font-weight: 100;
}

.second-floor__paragraphes {
  width: 600px;
  margin-left: 40px;
  font-size: 14px;
  color: #445162;
}

.second-list__grey {
  width: 350px;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 200px;
  flex-direction: row;
}

.second-floor__image {
  width: 330px;
  height: 170px;
  padding: 20px;
  margin-left: 200px;
}

.product-pros {
  background-color: #f5f5f5;
  padding: 48px 0;
}

.product-pros__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-pros__item {
  width: 40%;
  margin-right: 24px;
  margin-bottom: 24px;
}

.profit {
  display: flex;
}

.profit__plus-wrapper {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #445162;
  min-width: 36px;
  min-height: 36px;
  height: 36px;
  width: 36px;
}

.profit__plus-content {
  margin-top: -3px;
  font-weight: 600;
  color: white;
  font-size: 30px;
}

.profit__text {
  margin: 0 4px;
}

.third-section__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.screenshots-section {
  padding: 24px 72px;
}

.screenshots-section__items-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 32px 0;
}

.screenshots-section__item {
  flex-grow: 1;
}

.card {
  display: flex;
  color: #445162;
  height: 100%;
}

.card__picture-wrapper {
  height: 128px;
  width: 128px;
  min-height: 128px;
  min-width: 128px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__picture {
  height: 100%;
}

.card__text-container {
  margin-left: 8px;
}

.card__title {
  margin: 0 0 8px 0;
  font-weight: normal;
  font-size: 20px;
}

.supported-brands {
  padding: 48px;
}

.supported-brands__item {
  margin: 16px;
}
