body {
  font-family: sans-serif;
  margin: 0;
}

.first-floor {
  display: flex;
  width: 100%;
  background-color: #445162;
  height: 200px;
  justify-content: center;
}

.first-floor__tittle {
  padding-left: 40px;
  color: white;
  font-weight: 400;
}

.first-floor__list {
  flex-direction: column;
}

.first-list {
  list-style-type: square;
  padding-left: 60px;
  color: white;
  font-weight: 400;
}

.first-list__whiteboard {
  margin-top: 0;
  margin-bottom: 0;
}

.first-list__whiteboard-image {
  width: 350px;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 420px;
  flex-direction: row;
}

.second-floor {
  display: flex;
  width: 100%;
  background-color: white;
  height: 200px;
  justify-content: center;
}

.second-floor__text {
  flex-direction: column;
}

.second-floor__tittle {
  margin-left: 40px;
  margin-top: 30px;
  color: #445162;
  font-weight: 100;
}

.second-floor__paragraphes {
  width: 600px;
  margin-left: 40px;
  font-size: 14px;
  color: #445162;
}

.second-list__grey {
  width: 350px;
  height: 130px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 200px;
  flex-direction: row;
}

.second-floor__image {
  width: 330px;
  height: 170px;
  padding: 20px;
  margin-left: 200px;
}

.third-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  height: 300px;
}

.third-section__tittle {
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
  color: #445162;
  font-weight: 200;
}

.third-section__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.third-section__product-pluses {
  font-size: 15px;
  margin: 0;
  padding: 10px;
  max-width: 500px;
  max-height: 100px;
}

/* .third-section__product-pluses:before {
  content: "+";
  background-color: #445162;
  font-size: 30px;
  font-weight: 600;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  width: 18px;
  float: left;
} */

/* .third-section__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}  */

.third-section__pluses-items {
  font-size: 30px;
  background-color: #445162;
  font-weight: 600;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  max-height: 35px;
}

.wraper {
  height: 487px;
  width: 100%;
  text-align: center;
}
.wraper__content {
  /* max-width: 1180px; */
  justify-content: center;
}
.wraper__tittle {
  margin-top: 40px;
  max-width: 100%;
}

.title {
  color: #445162;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.wraper__row {
  display: flex;
}
/* .wraper__block {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
} */
.item__wraper {
  display: inline-flex;
}
.item-wraper__screenshot {
}
.item-wraper__title {
}
.item-wraper__text {
  max-width: 200px;
}
